html {
    font-family: Roboto;
    color: #1D1313;
}

* {
    margin: 0px;
    padding: 0px;
    text-indent: 0px;
}

main {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

.banner {
    width: 100%;
}

.logo {
    padding-top: .5rem;
    width: 50%
}


/* ---------------------------------- MENU ---------------------------------- */
nav {
    width: 100%;
    position: fixed;
}

ul.menu>li,
ul.menu>li>ul.submenu>li {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    list-style-type: none;
    overflow: hidden;
    font-weight: 400;
}

ul.menu>li {
    float: left;
    width: 12.5%;
}

ul.submenu>li {
    float: left;
    width: 100%;
}

ul.menu>li>a,
ul.menu>li>div,
ul.submenu>li>a {
    /* padding: 10px; */
    display: block;
    height: 100%;
    text-decoration: none;
    color: #1D1313;
}

ul.menu>li a,
ul.menu>li div {
    background: #ffffff;
}

ul.menu>li>ul.submenu {
    position: relative;
    top: 0px;
}

ul.menu>li>a:hover,
ul.submenu>li>a:hover {
    background: #ffffff;
    color: #F36D21;
}

ul.menu>li:hover {
    overflow: visible;
}

#active {
    color: #F36D21;
}


/* ---------------------------------- FOOTER ---------------------------------- */
.curve {
    background: radial-gradient(100% 100% at top, transparent 52%, #1d1313 50%);
    margin: 0 auto;
    width: 100%;
    height: 300px;
}

.icon {
    width: 100px;
    top: 110px;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: relative;
    transition: .1s;
    animation: movement 5.5s linear infinite;
    margin: calc(7vw - 90px) auto 0;

}

@keyframes movement {
    0% {
        transform: translateY(-60px) translateX(-720px) rotate(0);
    }

    10% {
        transform: translateY(-10px) translateX(-576px) rotate(36deg);
    }

    20% {
        transform: translateY(20px) translateX(-432px) rotate(72deg);
    }

    30% {
        transform: translateY(40px) translateX(-288px) rotate(108deg);
    }

    40% {
        transform: translateY(45px) translateX(-144px) rotate(144deg);
    }

    50% {
        transform: translateY(50px) translateX(0) rotate(180deg);
    }

    60% {
        transform: translateY(45px) translateX(144px) rotate(216deg);
    }

    70% {
        transform: translateY(40px) translateX(288px) rotate(252deg);
    }

    80% {
        transform: translateY(20px) translateX(432px) rotate(288deg);
    }

    90% {
        transform: translateY(-10px) translateX(576px) rotate(324deg);
    }

    100% {
        transform: translateY(-60px) translateX(720px) rotate(360deg);
    }
}