<footer>
    <img class="icon" src="imagini/pizza.svg" alt="Pizza Icon">
    <div class="curve"></div>
    <div class="footer">
        <p>
            <span class="font-pacifico">Pizza </span>
            ©&nbsp; 2020
            <span class="right">
                <i>telefon comenzi</i> <br />
                <strong class="text-large">*0314</strong><br />
                din ∀ retea
            </span>
        </p>
    </div>
</footer>