.sm-none {
    display: none !important;
}

.mt-sm-0 {
    margin-top: 0 !important;
}

/* ---------------------------------- MENU ---------------------------------- */
nav {
    z-index: 100;
}

#hamburger {
    display: block;
}

#hamburger i {
    font-size: 30px;
}

ul.menu {
    display: none;
}

#ch-menu:checked~ul.menu {
    display: block;

}

ul.menu>li {
    background-color: #ffffff;
    color: #1D1313;
}

/* ---------------------------------- FOOTER ---------------------------------- */
footer {
    margin-top: 3rem;
}

.curve,
.icon {
    display: none;
}

.footer {
    padding-top: 1rem;
}