.md-none {
    display: none !important;
}

.mt-md-0 {
    margin-top: 0 !important;
}

/* ---------------------------------- MENU ---------------------------------- */
ul.menu>li>a,
ul.menu>li>label,
ul.submenu>li>a {
    line-height: 2rem;
}

nav {
    z-index: 100;
}

#hamburger {
    display: block;
}

#hamburger i {
    font-size: 30px;
    padding-top: 2vw;
    padding-left: 3vw;
}

ul.menu {
    display: none;
}


#ch-menu:checked~ul.menu {
    display: block;

}

ul.menu>li {
    width: 100%;
    background-color: #ffffff;
    color: #1D1313;
    width: 100%;
}

/* ---------------------------------- FOOTER ---------------------------------- */
footer {
    margin-top: 3rem;
}

.curve,
.icon {
    display: none;
}

.footer {
    padding-top: 1rem;
}


/* ---------------------------------- COLOANE ---------------------------------- */
.col-md-1 {
    width: 8.33% !important;
}

.col-md-2 {
    width: 16.66% !important;
}

.col-md-3 {
    width: 25% !important;
}

.col-md-4 {
    width: 33.33% !important;
}

.col-md-5 {
    width: 41.66% !important;
}

.col-md-6 {
    width: 50% !important;
}

.col-md-7 {
    width: 58.33% !important;
}

.col-md-8 {
    width: 66.66% !important;
}

.col-md-9 {
    width: 75% !important;
}

.col-md-10 {
    width: 83.33% !important;
}

.col-md-11 {
    width: 91.66% !important;
}

.col-md-12 {
    width: 100% !important;
}