.sm-none {
    display: none !important;
}

.mt-sm-0 {
    margin-top: 0 !important;
}

.banner {
    padding-top: 4rem;
}

/* ---------------------------------- MENU ---------------------------------- */
nav {
    z-index: 100;
}

#hamburger {
    display: block;
}

#hamburger i {
    font-size: 30px;
}

ul.menu {
    display: none;
}

#ch-menu:checked~ul.menu {
    display: block;

}

ul.menu>li {
    background-color: #ffffff;
    color: #1D1313;
    width: 100%;
    line-height: 3rem;
}

/* ---------------------------------- FOOTER ---------------------------------- */
footer {
    margin-top: 3rem;
}

.curve,
.icon {
    display: none;
}

.footer {
    padding-top: 1rem;
}

/* ---------------------------------- COLOANE ---------------------------------- */
.col-sm-1 {
    width: 8.33% !important;
}

.col-sm-2 {
    width: 16.66% !important;
}

.col-sm-3 {
    width: 25% !important;
}

.col-sm-4 {
    width: 33.33% !important;
}

.col-sm-5 {
    width: 41.66% !important;
}

.col-sm-6 {
    width: 50% !important;
}

.col-sm-7 {
    width: 58.33% !important;
}

.col-sm-8 {
    width: 66.66% !important;
}

.col-sm-9 {
    width: 75% !important;
}

.col-sm-10 {
    width: 83.33% !important;
}

.col-sm-11 {
    width: 91.66% !important;
}

.col-sm-12 {
    width: 100% !important;
}