<!DOCTYPE html>
<html lang="ro">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162775347-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-162775347-1');
    </script>

    <title>3.14zza | Contact</title>

    <meta charset="UTF-8">
    <meta name="description" content="Pagină cu produse: Pizza, Gustări, Desert, Băuturi">
    <meta name="keywords" content="pizza, desert, mâncare, gustări, băuturi, comandă">
    <meta name="author" content="Cristina Titrat">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="imagini/favicon.ico" type="image/gif">
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link rel="stylesheet" href="css/style_print.css" type="text/css" media="print" />
    <link rel="stylesheet" href="css/style_400.css" type="text/css" media="screen and (max-width: 400px)" />
    <link rel="stylesheet" href="css/style_900.css" type="text/css" media="(min-width: 401px) and (max-width: 900px)" />
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

</head>

<body>
    <% include ../components/header %>

    <main>
        <section>
            <a href="#top" id="top-btn"><i class="fa fa-arrow-up"></i></a>
            <div class="row mt-5 mt-sm-0 mt-md-0">
                <div class="col-12 mb-4 mt-3 text-center">
                    <h2>Pagina de contact!</h2>
                    <p class="mt-3">Mai jos aveți toate informațiile de contact.</p>
                </div>
            </div>
            <div class="row mt-3 mt-sm-0 mt-md-0 text">
                <div class="col-6 col-sm-12 col-md-12">
                    <h3 class="mb-3">Contact:</h3>
                    <address>
                        Pentru comenzi sunați la: <a class="contact" href="tel:*0314">*0314 </a> din ∀ retea <br>
                        Adresa noastră de mail este: <a class="contact" href="mailto:pi@zza.ro">pi@zza.ro</a><br>
                        Pentru reclamații sunați la: <a class="contact" href="tel:+40-731-431-314">+0731 431
                            314</a><br><br>

                        Vizitează-ne la <b>adresa</b>:<br>
                        Site-ul nostru web este: <a class="contact" href="pizza.ro" target="_blank">pizza.ro</a><br>
                        Numărul 314, Strada Infinitului, Sector 3, București<br>
                        România
                    </address>
                    <br>
                    <iframe
                        src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Ftitrat.ro%2Fpizza-website%2F&layout=button&size=large&width=77&height=28&appId"
                        width="77" height="28" allow="encrypted-media" id="fb-share">
                    </iframe>
                </div>
                <div class="col-6 col-sm-12 col-md-12">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2849.071584294129!2d26.097783315510075!3d44.43169380975903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDTCsDI1JzU0LjEiTiAyNsKwMDUnNTkuOSJF!5e0!3m2!1sro!2sro!4v1585991741743!5m2!1sro!2sro"
                        height="450" aria-hidden="false" tabindex="0">
                    </iframe>
                    <!-- <figure>
                        <img src="imagini/adresa.png" alt="Adresa noastră" title="Adresa noastră">
                        <figcaption>Numărul 314, Strada Infinitului, Sector 3, București, România</figcaption>
                    </figure> -->
                </div>
            </div>
        </section>
        <div id="program"></div>
        <section>
            <div class="row mt-5 mt-sm-0 mt-md-0">
                <div class="col-12 mb-4 mt-3 text-center">
                    <h2>Program de lucru</h2>
                    <p class="mt-3"> Verifică programul nostru afișat mai jos! În această periadă avem <strong>deficit
                            de personal</strong>.</p>
                </div>
            </div>

            <div class="row mt-3 mt-sm-0 mt-md-0 text-center">
                <div class="col-12">
                    <table id="tabelescu">
                        <thead>
                            <tr>
                                <th>Luni</th>
                                <th>Marți</th>
                                <th>Miercuri</th>
                                <th>Joi</th>
                                <th>Vineri</th>
                                <th>Sâmbătă</th>
                                <th>Duminică</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>11-18</td>
                                <td>11-18</td>
                                <td>11-18</td>
                                <td>11-18</td>
                                <td>10-20</td>
                                <td>10-20</td>
                                <td>10-20</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7">Lucrăm flexibil pentru tine</td>
                                <!--calculat cu ajutorul counterelor -->
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </section>


    </main>
    <% include ../components/footer %>

</body>

</html>