<!DOCTYPE html>
<html lang="ro">

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-162775347-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-162775347-1');
	</script>

	<title>3.14zza | Înregistrare</title>

	<meta charset="UTF-8">
	<meta name="description" content="Pizza gata în 31.4 minute sau livrarea gratis!">
	<meta name="keywords" content="pizza, livrare, comandă, mâncare, desert, gustări">
	<meta name="author" content="Cristina Titrat">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google-site-verification" content="yitQtqjefTncwPk9Ovr-Kgo2BL0VfP0r2uCzGS5cJmQ" />

	<link rel="icon" href="imagini/favicon.ico" type="image/gif">
	<link rel="stylesheet" href="css/style.css" type="text/css" />
	<link rel="stylesheet" href="css/style_print.css" type="text/css" media="print" />
	<link rel="stylesheet" href="css/style_400.css" type="text/css" media="screen and (max-width: 400px)" />
	<link rel="stylesheet" href="css/style_900.css" type="text/css" media="(min-width: 401px) and (max-width: 900px)" />

	<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

</head>

<body class="container">

	<% include ../components/header %>
	<main>
		<a href="#top" id="top-btn"><i class="fa fa-arrow-up"></i></a>

		<section>
			<div class="row text-center">
				<div class="col-12 mb-2 mt-5">
					<h1>Inregistrare utilizator</h1>
					<p class="mt-3">Completati formularul pentru o reducere de 10% la prima comandă.</p>
				</div>
				<div class="col-4"></div>
				<div class="col-4 text-left">

					<div class="card">
						<% if(!locals.rsstatus) { %>
						<!-- verific daca status e definit-->
						<form method="post" action="/inreg" class="date">
							<p>
								<label>Nume:</label><br>
								<input class="form-control" type="text" name="nume" placeholder="Pița Pasta">
							</p><br>
							<p>
								<label>Username:</label><br>
								<input class="form-control" type="text" name="username" placeholder="love.pizza">
							</p><br>
							<!-- <p>
								<label>Materii(separate cu virgula):</label><br>
								<input class="form-control" type="text" name="materii"
									value="tehnici web, inteligenta artificiala" size="50">
							</p><br> -->
							<p>
								<label>Email:</label><br>
								<input class="form-control" type="email" name="email" placeholder="pita.pasta@pizza.ro"
									size="50">
							</p><br>
							<p>
								<label>Data nașterii:</label><br>
								<input class="form-control" type="text" name="date" placeholder="dd#mm#yyyy" size="10">
							</p><br>
							<p>
								<label>Parola:</label><br>
								<input class="form-control" type="password" name="parola" value="">
							</p><br>
							<p>
								<label>Reintroduceti parola:</label><br>
								<input class="form-control" type="password" name="rparola" value="">
							</p><br>
							<p>
								<input class="btn btn-primary" type="submit" value="Submit">
							</p>
						</form>
						<% } else if(rsstatus=="ok"){ %>
						<p>Date introduse</p>
						<% } else {%>
						<div class="alert alert-danger " role="alert">
							Încearcă altă adresă de mail!
						</div>
						<% } %>
					</div>
				</div>
				<div class="col-4"></div>
			</div>
	</main>

	<% include ../components/footer %>

</body>

</html>